body {
    background-position: absolute;
    background: url("../img/background.jpg");
    background-size: cover;
    background-attachment: fixed;
  }
  #board {
    position:relative;
    width: 480px;
    height: 650px;
    margin: 30px 550px auto;
    background-image: url("../img/background2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    
  }

  #harry {
    position: absolute;
    width: 60px;
    height: 60px;
    background: url("../img/harry.png");
    background-size: contain;
    background-repeat: no-repeat;
    left: 50%;
    bottom: 0px;
  }

  .fires{
    position: absolute;
    bottom: 40px;
    left: 51%;
    width: 20px;
    height: 20px;
    background: url("../img/fire.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .monsters {
    position: absolute;
    top: 0px;
    width: 50px;
    height: 50px;
    background: url("../img/monster.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  #points {
    position: absolute;
    top: 0px;
    margin: 35px;
    opacity: 0.7;
    font-size: 10em;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }